on:
  push:
    branches:
      - main

jobs:
  checkout-and-print:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: install dependencies
        run: |
          python -m pip install --upgrade pip

      - name: Run unit tests
        run: python -m unittest discover -v

      - name: print hello
        run: |
          echo "Hello, CI with GitHub Actions!."